<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="parametros_quimicos_menu"
        name="Parámetros Químicos"
        action="parametros_quimicos_action"

        parent="industry_fsm.fsm_menu_settings"
        sequence="10"/>

    <menuitem id="industry_fsm.fsm_menu_root"
        name="Laboratorio"
        sequence="80"
        web_icon="p13n_vatten,static/description/icon.png"/>

</odoo>
